@import url("https://fonts.googleapis.com/css2?family=Margarine&display=swap");
@keyframes wave {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-7px);
  }
}
@keyframes dot-blink {
  0%,
  100% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
}

body {
  position: relative;
  margin: 0 auto;
  font-family: "Margarine", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: rgba(0, 0, 0, 0.638);
  text-align: center;
  font-size: 3vw;
  background-color: rgb(255, 244, 236);
  background-image: url("../assets/cat-paws2.jpg.avif");
  background-size: auto;
  background-repeat: repeat;

  
}

#container {
  padding: 100px;
}

.wave {
  font-weight: bold;
  display: block;
  animation: wave 1s infinite alternate ease-in-out;
}

h2 img {
  max-height: 5vw;
}
#cat {
  box-sizing: border-box;
  display: block;
  margin: 20px auto;
  max-width: 80%;
  height: auto;
  margin-bottom: 80px;
  border-radius: 10px;
  border: solid 25px rgba(169, 153, 153, 0.633);
}

#loading-ind {
  display: none;
  font-size: 100px;
  text-align: center;
  font-weight: bold;
  color: #3f3636;
}

.loading span {
  animation: dot-blink 5s infinite steps(1, end);
}
.loading span:nth-child(1) {
  animation-delay: 0.1s;
}
.loading span:nth-child(2) {
  animation-delay: 10s;
}
.loading span:nth-child(3) {
  animation-delay: 20s;
}
#get-btn {
  font-family: "Margarine", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 3vw;
  background-color: rgb(40, 33, 33);
  color: whitesmoke;
  padding: 15px;
  border-radius: 10px;
  display: inline-block;
  cursor: pointer;
  outline: none;
  border: none;
  box-shadow: 0 9px #6c5e5e;
}
#get-btn:active {
  background-color: #3f3636;
  box-shadow: 0 5px #a89393;
  transform: translateY(4px);
}

.result {
  display: none;
  position: fixed;
  bottom: -40%;
  right: 20px;
  transform: translateX(-50%);
  width: 45%;
  height: 15%;
  background-color: #3f3636ca;
  border-radius: 25px;
  padding: 15px;
  overflow: hidden;
  transition: bottom 1s ease-in-out;
  z-index: 1000;
}

.result-content {
  color: rgb(245, 245, 245);
  font-size: 20px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.result.show {
  display: block;
  bottom: 20px;
}

.result-content p img {
  max-height: 40px;
}

footer {
  font-size: 2.5vw;
  padding: 20px;
}
